:root {
    --main-bg-color: #edfaff;
    --secondary-bg-color: #edfaff;
    --tab-highlight-color: #007ef1;
    --font-highlight-color: #f17300;
    --tab-title-color: #203b69;
    --product-title-color: #201c49;
    --secondary-font-color: #919191;
}

.home-container {
    display: flex;
    justify-content: center;
    background: var(--main-bg-color);
    height: 100vh;
    width: 100%;
}

.welcome-message {
    position: fixed;
    top: 35vh;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    animation-name: welcome;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes welcome {
    0% {
        opacity: 0;
        font-size: 5em;
        color: var(--tab-highlight-color);
    }
    30% {
        opacity: 1;
        font-size: 5em;
        color: lightcoral;
    }
    75% {
        opacity: 1;
        font-size: 5em;
        color: var(--font-highlight-color);
    }
    100% {
        font-size: 0px;
        color: var(--font-highlight-color);
    }
}
