:root {
	--main-bg-color: #ffffff;
	--secondary-bg-color: #fff9f0;
	--tab-highlight-color: #007ef1;
	--font-highlight-color: #f17300;
	--tab-title-color: #203b69;
	--product-title-color: #201c49;
	--secondary-font-color: #919191;
}

.content-container {
	flex-grow: 1;
	margin: 20vh 0 0 10vh;
	background: var(--main-bg-color);
}
.intro-container {
	display: block;
}

.arrow {
	color: var(--tab-highlight-color);
	font-size: 50px;
}

.down-button {
	border: 0;
	background-color: var(--secondary-bg-color);
	border-color: var(--font-highlight-color);
	box-shadow: none;
	color: var(--font-highlight-color);
}

.down-button:hover {
	cursor: pointer;
	animation-name: arrow-bounce;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes arrow-bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

.content {
	display: block;
	animation-name: content-pop;
	animation-duration: 0.5s;
}

.empty-content {
	opacity: 0;
}

.blue-text {
	color: var(--tab-highlight-color);
}

.orange-text {
	color: var(--font-highlight-color);
}

@keyframes content-pop {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
